h1{font-family: monospace, sans-serif; color: gold;}
h2{font-family: fantasy, serif}
body{background-color:lemonchiffon;margin: 100px}
a{text-decoration: none}
p{font-family: monospace; font-size: 17}
p2{font-size:11; margin-left: -170}
img{margin: 20}